{block content}

    <div class="card">
        
        {if $article->has_picture}
            <img class="card-img-top" src="{$basePath}/images/cms/{$article->id}.png?{time()}" alt="{$article->title}" style="width: 100%;">
        {/if}
        
    </div>
{/block}

{block scripts}
    {include parent}
{/block}
